body {
  margin: 0;
  padding: 0;
}

.set-list,
.card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1000px;
}

.set,
.card {
  max-height: 100px;
  max-width: 100px;
  border: 2px solid black;
}

img {
  max-height: 80%;
  max-width: 80%;
}